/*table table-bordered table-striped bg-white*/
.mat-option {
  border: 1px solid #e7e8ea;
}


.btn.btn-default {
  background-color: #FFFFFF;
  color: Black;
}

.btn-imp-error {
  width: 160px;
  border-style: solid;
  border-width: thin;
  border-color: red;
}

.btn-imp-success {
  width: 160px;
  border-style: solid;
  border-width: thin;
  border-color: green;
}

.btn-imp-default {
  width: 160px;
  border-style: solid;
  border-width: thin;
  border-color: transparent;
}

.full-width {
  height: 60px !important;
}

.full-width-90 {
  width: 100%;
  height: 90px;
}

.default-text {
  color: inherit;
}

.error-text {
  color: red;
}

.list-group-item {
  padding: 5px 5px;
}

.mat-checkbox-layout {
  padding-top: 15px;
}

.mat-form-field-underline {
  bottom: 1em !important;
}

.tooltip-x {
  width: 120px;
  color: black !important;
  background: #DEFDFF;
  text-align: center;
  padding: 5px 0;
  border-radius: 12px;
  box-shadow: 2px 3px 7px grey;
}

/*mat-step-header[aria-selected="true"] {
  background-color: rgba(0,0,0,.04) !important;
}*/

mat-step-header[aria-selected="true"]:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de;
}


.btn-dialog {
  margin: .5em .4em .5em 0;
  cursor: pointer;
  font-family: "-apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  height: 30px;
  border: 1px solid #c8c8c8;
  background-color: #f8f8f8;
  color: #333;
  cursor: pointer;
  border-radius: 2px;
  outline: 0;
  padding: 2px 12px 2px 12px;
}

.dialog-bottom {
  display: inline-block;
  background-color: #f8f8f8;
  text-align: left;
  width: 100%;
  background-image: none;
  margin: .5em 0 0 0;
  padding: .3em 1em .5em .4em;
  color: #222;
}

button.btn-dialog:hover {
  color: #fff;
  background-color: #0078d7;
  border: 2px solid #0078d7;
}

/*.mat-step-header .mat-step-icon {
  border-color: #3f51b5 !important;
  border-style: solid !important;
}

.mat-step-icon, .mat-step-icon-not-touched {
  border-radius: 50%;
  height: 50px !important;
  width: 50px !important;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-shrink: 0;
}*/




split-gutter {
  height: auto !important;
  flex-basis: 5px !important;
}

.mat-select-panel {
  font-size: 12px !important;
  max-width: inherit !important;
}

.full-width {
  width: 100%;
  height: 60px;
}

.checkboxes {
  padding: 10px 0;
  height: 90px;
}

.row-button-right {
  text-align: right;
}

.full-width.searchField {
  padding: 10px 30px;
}
/* NEED TO LOOK UP WHAT A LG SCREEN HAS FOR PX */
@media (min-width: 1600px) {
  .col-lg-five {
    width: 20%;
    float: left;
  }
}

.mat-checkbox {
  justify-content: center;
  align-self: center;
}

.searchIcon {
  padding: 30px 0;
  margin: 0 -30px;
}

.IdentifiersBox {
  padding: 0 20px;
  margin: 0 5px;
}

/*#cd-vertical-nav {
  position: fixed;
  right: -130px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 4;
}*/

.ui-datepicker {
  z-index: 960 !important;
}

.ui-widget-header {
  /*Vipul*/
  /*
  border: 1px solid #4297d7;
background: #5c9ccc url("images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x;
color: #ffffff;
  */
  /*Vipul*/
  font-weight: bold;
}

  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    border: 1px solid #c5dbec;
    /*Vipul*/
    /*background: #dfeffc url("images/ui-bg_glass_85_dfeffc_1x400.png") 50% 50% repeat-x;*/
    font-weight: bold;
    color: #2e6e9e;
  }

.ui-select-bootstrap > .ui-select-choices {
  overflow-y: scroll;
}
